<div>
  <h2 id="page-heading" data-cy="EmployeeComponentsDataHeading">
    <span jhiTranslate="transporteApp.employeeComponentsData.home.title">Employee Components Data</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="transporteApp.employeeComponentsData.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-employee-components-data"
        [routerLink]="['/employee-components-data/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="transporteApp.employeeComponentsData.home.createLabel"> Create a new Employee Components Data </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="employeeComponentsData?.length === 0">
    <span jhiTranslate="transporteApp.employeeComponentsData.home.notFound">No employeeComponentsData found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="employeeComponentsData && employeeComponentsData.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dataInfo">
            <span jhiTranslate="transporteApp.employeeComponentsData.dataInfo">Data Info</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="employee.employeeFullName">
            <span jhiTranslate="transporteApp.employeeComponentsData.employee">Employee</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employeeComponentsData of employeeComponentsData; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/employee-components-data', employeeComponentsData.id, 'view']">{{ employeeComponentsData.id }}</a>
          </td>
          <td>{{ employeeComponentsData.dataInfo }}</td>
          <td>
            <div *ngIf="employeeComponentsData.employee">
              <a [routerLink]="['/employees', employeeComponentsData.employee?.id, 'view']">{{
                employeeComponentsData.employee?.employeeFullName
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/employee-components-data', employeeComponentsData.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/employee-components-data', employeeComponentsData.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(employeeComponentsData)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="employeeComponentsData && employeeComponentsData.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
