<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-vehicle-control-attachments-heading"
        data-cy="VehicleControlAttachmentsCreateUpdateHeading"
        jhiTranslate="transporteApp.vehicleControlAttachments.home.createOrEditLabel"
      >
        Create or edit a Vehicle Control Attachments
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="transporteApp.vehicleControlAttachments.attachImage"
            for="field_attachImage"
            [ngbTooltip]="'transporteApp.vehicleControlAttachments.help.attachImage' | translate"
            >Attach Image</label
          >
          <div>
            <img
              [src]="'data:' + editForm.get('attachImageContentType')!.value + ';base64,' + editForm.get('attachImage')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('attachImage')!.value"
              alt="vehicleControlAttachments image"
            />
            <div *ngIf="editForm.get('attachImage')!.value" class="form-text text-danger clearfix">
              <span class="pull-left"
                >{{ editForm.get('attachImageContentType')!.value }}, {{ byteSize(editForm.get('attachImage')!.value) }}</span
              >
              <button
                type="button"
                (click)="clearInputImage('attachImage', 'attachImageContentType', 'file_attachImage')"
                class="btn btn-secondary btn-xs pull-right"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_attachImage"
              data-cy="attachImage"
              (change)="setFileData($event, 'attachImage', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="attachImage"
            id="field_attachImage"
            data-cy="attachImage"
            formControlName="attachImage"
          />
          <input
            type="hidden"
            class="form-control"
            name="attachImageContentType"
            id="field_attachImageContentType"
            formControlName="attachImageContentType"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="transporteApp.vehicleControlAttachments.attachUrl"
            for="field_attachUrl"
            [ngbTooltip]="'transporteApp.vehicleControlAttachments.help.attachUrl' | translate"
            >Attach Url</label
          >
          <input type="text" class="form-control" name="attachUrl" id="field_attachUrl" data-cy="attachUrl" formControlName="attachUrl" />
          <div *ngIf="editForm.get('attachUrl')!.invalid && (editForm.get('attachUrl')!.dirty || editForm.get('attachUrl')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('attachUrl')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="transporteApp.vehicleControlAttachments.attachDescription"
            for="field_attachDescription"
            [ngbTooltip]="'transporteApp.vehicleControlAttachments.help.attachDescription' | translate"
            >Attach Description</label
          >
          <input
            type="text"
            class="form-control"
            name="attachDescription"
            id="field_attachDescription"
            data-cy="attachDescription"
            formControlName="attachDescription"
          />
          <div
            *ngIf="
              editForm.get('attachDescription')!.invalid &&
              (editForm.get('attachDescription')!.dirty || editForm.get('attachDescription')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('attachDescription')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="transporteApp.vehicleControlAttachments.attachedDate"
            for="field_attachedDate"
            [ngbTooltip]="'transporteApp.vehicleControlAttachments.help.attachedDate' | translate"
            >Attached Date</label
          >
          <div class="d-flex">
            <input
              id="field_attachedDate"
              data-cy="attachedDate"
              type="datetime-local"
              class="form-control"
              name="attachedDate"
              formControlName="attachedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div
            *ngIf="editForm.get('attachedDate')!.invalid && (editForm.get('attachedDate')!.dirty || editForm.get('attachedDate')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('attachedDate')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('attachedDate')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="transporteApp.vehicleControlAttachments.vehicleControls"
            for="field_vehicleControls"
            >Vehicle Controls</label
          >
          <select
            class="form-control"
            id="field_vehicleControls"
            data-cy="vehicleControls"
            name="vehicleControls"
            formControlName="vehicleControls"
          >
            <option *ngIf="!editForm.get('vehicleControls')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                vehicleControlsOption.id === editForm.get('vehicleControls')!.value?.id
                  ? editForm.get('vehicleControls')!.value
                  : vehicleControlsOption
              "
              *ngFor="let vehicleControlsOption of vehicleControlsSharedCollection; trackBy: trackVehicleControlsById"
            >
              {{ vehicleControlsOption.id }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['vehicleControls'])!.invalid &&
            (editForm.get(['vehicleControls'])!.dirty || editForm.get(['vehicleControls'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['vehicleControls'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
