<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-customers-contacts-heading"
        data-cy="CustomersContactsCreateUpdateHeading"
        jhiTranslate="transporteApp.customersContacts.home.createOrEditLabel"
      >
        Create or edit a Customers Contacts
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="transporteApp.customersContacts.contactName"
            for="field_contactName"
            [ngbTooltip]="'transporteApp.customersContacts.help.contactName' | translate"
            >Contact Name</label
          >
          <input
            type="text"
            class="form-control"
            name="contactName"
            id="field_contactName"
            data-cy="contactName"
            formControlName="contactName"
          />
          <div *ngIf="editForm.get('contactName')!.invalid && (editForm.get('contactName')!.dirty || editForm.get('contactName')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('contactName')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="transporteApp.customersContacts.contactTelephone"
            for="field_contactTelephone"
            [ngbTooltip]="'transporteApp.customersContacts.help.contactTelephone' | translate"
            >Contact Telephone</label
          >
          <input
            type="text"
            class="form-control"
            name="contactTelephone"
            id="field_contactTelephone"
            data-cy="contactTelephone"
            formControlName="contactTelephone"
          />
          <div
            *ngIf="
              editForm.get('contactTelephone')!.invalid &&
              (editForm.get('contactTelephone')!.dirty || editForm.get('contactTelephone')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('contactTelephone')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="transporteApp.customersContacts.contactEmail"
            for="field_contactEmail"
            [ngbTooltip]="'transporteApp.customersContacts.help.contactEmail' | translate"
            >Contact Email</label
          >
          <input
            type="text"
            class="form-control"
            name="contactEmail"
            id="field_contactEmail"
            data-cy="contactEmail"
            formControlName="contactEmail"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="transporteApp.customersContacts.customers" for="field_customers">Customers</label>
          <select class="form-control" id="field_customers" data-cy="customers" name="customers" formControlName="customers">
            <option *ngIf="!editForm.get('customers')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="customersOption.id === editForm.get('customers')!.value?.id ? editForm.get('customers')!.value : customersOption"
              *ngFor="let customersOption of customersSharedCollection; trackBy: trackCustomersById"
            >
              {{ customersOption.customerName }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['customers'])!.invalid && (editForm.get(['customers'])!.dirty || editForm.get(['customers'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['customers'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
