<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="supplierContacts">
      <h2 data-cy="supplierContactsDetailsHeading">
        <span jhiTranslate="transporteApp.supplierContacts.detail.title">Supplier Contacts</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ supplierContacts.id }}</span>
        </dd>
        <dt>
          <span
            jhiTranslate="transporteApp.supplierContacts.supplierContactName"
            [ngbTooltip]="'transporteApp.supplierContacts.help.supplierContactName' | translate"
            >Supplier Contact Name</span
          >
        </dt>
        <dd>
          <span>{{ supplierContacts.supplierContactName }}</span>
        </dd>
        <dt>
          <span
            jhiTranslate="transporteApp.supplierContacts.supplierContactPhone"
            [ngbTooltip]="'transporteApp.supplierContacts.help.supplierContactPhone' | translate"
            >Supplier Contact Phone</span
          >
        </dt>
        <dd>
          <span>{{ supplierContacts.supplierContactPhone }}</span>
        </dd>
        <dt>
          <span
            jhiTranslate="transporteApp.supplierContacts.supplierContactEmail"
            [ngbTooltip]="'transporteApp.supplierContacts.help.supplierContactEmail' | translate"
            >Supplier Contact Email</span
          >
        </dt>
        <dd>
          <span>{{ supplierContacts.supplierContactEmail }}</span>
        </dd>
        <dt><span jhiTranslate="transporteApp.supplierContacts.suppliers">Suppliers</span></dt>
        <dd>
          <div *ngIf="supplierContacts.suppliers">
            <a [routerLink]="['/suppliers', supplierContacts.suppliers?.id, 'view']">{{ supplierContacts.suppliers?.supplierName }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/supplier-contacts', supplierContacts.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
