<div>
  <h2 id="page-heading" data-cy="CustomersGroupsHeading">
    <span jhiTranslate="transporteApp.customersGroups.home.title">Customers Groups</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="transporteApp.customersGroups.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-customers-groups"
        [routerLink]="['/customers-groups/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="transporteApp.customersGroups.home.createLabel"> Create a new Customers Groups </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="customersGroups?.length === 0">
    <span jhiTranslate="transporteApp.customersGroups.home.notFound">No customersGroups found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="customersGroups && customersGroups.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="groupName">
            <span jhiTranslate="transporteApp.customersGroups.groupName">Group Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="affiliates.branchName">
            <span jhiTranslate="transporteApp.customersGroups.affiliates">Affiliates</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customersGroups of customersGroups; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/customers-groups', customersGroups.id, 'view']">{{ customersGroups.id }}</a>
          </td>
          <td>{{ customersGroups.groupName }}</td>
          <td>
            <div *ngIf="customersGroups.affiliates">
              <a [routerLink]="['/affiliates', customersGroups.affiliates?.id, 'view']">{{ customersGroups.affiliates?.branchName }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/customers-groups', customersGroups.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/customers-groups', customersGroups.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(customersGroups)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="customersGroups && customersGroups.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
