<div>
  <h2 id="page-heading" data-cy="EmployeeAttachmentsHeading">
    <span jhiTranslate="transporteApp.employeeAttachments.home.title">Employee Attachments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="transporteApp.employeeAttachments.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-employee-attachments"
        [routerLink]="['/employee-attachments/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="transporteApp.employeeAttachments.home.createLabel"> Create a new Employee Attachments </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="employeeAttachments?.length === 0">
    <span jhiTranslate="transporteApp.employeeAttachments.home.notFound">No employeeAttachments found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="employeeAttachments && employeeAttachments.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="attachImage">
            <span jhiTranslate="transporteApp.employeeAttachments.attachImage">Attach Image</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="attachUrl">
            <span jhiTranslate="transporteApp.employeeAttachments.attachUrl">Attach Url</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="attachDescription">
            <span jhiTranslate="transporteApp.employeeAttachments.attachDescription">Attach Description</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="attachedDate">
            <span jhiTranslate="transporteApp.employeeAttachments.attachedDate">Attached Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="employees.employeeFullName">
            <span jhiTranslate="transporteApp.employeeAttachments.employees">Employees</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employeeAttachments of employeeAttachments; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/employee-attachments', employeeAttachments.id, 'view']">{{ employeeAttachments.id }}</a>
          </td>
          <td>
            <a
              *ngIf="employeeAttachments.attachImage"
              (click)="openFile(employeeAttachments.attachImage, employeeAttachments.attachImageContentType)"
            >
              <img
                [src]="'data:' + employeeAttachments.attachImageContentType + ';base64,' + employeeAttachments.attachImage"
                style="max-height: 30px"
                alt="employeeAttachments image"
              />
            </a>
            <span *ngIf="employeeAttachments.attachImage"
              >{{ employeeAttachments.attachImageContentType }}, {{ byteSize(employeeAttachments.attachImage) }}</span
            >
          </td>
          <td>{{ employeeAttachments.attachUrl }}</td>
          <td>{{ employeeAttachments.attachDescription }}</td>
          <td>{{ employeeAttachments.attachedDate | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="employeeAttachments.employees">
              <a [routerLink]="['/employees', employeeAttachments.employees?.id, 'view']">{{
                employeeAttachments.employees?.employeeFullName
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/employee-attachments', employeeAttachments.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/employee-attachments', employeeAttachments.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(employeeAttachments)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="employeeAttachments && employeeAttachments.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
