<div>
  <h2 id="page-heading" data-cy="CustomerAttachmentsHeading">
    <span jhiTranslate="transporteApp.customerAttachments.home.title">Customer Attachments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="transporteApp.customerAttachments.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-customer-attachments"
        [routerLink]="['/customer-attachments/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="transporteApp.customerAttachments.home.createLabel"> Create a new Customer Attachments </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="customerAttachments?.length === 0">
    <span jhiTranslate="transporteApp.customerAttachments.home.notFound">No customerAttachments found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="customerAttachments && customerAttachments.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="attachImage">
            <span jhiTranslate="transporteApp.customerAttachments.attachImage">Attach Image</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="attachUrl">
            <span jhiTranslate="transporteApp.customerAttachments.attachUrl">Attach Url</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="attachDescription">
            <span jhiTranslate="transporteApp.customerAttachments.attachDescription">Attach Description</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="attachedDate">
            <span jhiTranslate="transporteApp.customerAttachments.attachedDate">Attached Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="customers.customerName">
            <span jhiTranslate="transporteApp.customerAttachments.customers">Customers</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="statusAttachments.statusName">
            <span jhiTranslate="transporteApp.customerAttachments.statusAttachments">Status Attachments</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customerAttachments of customerAttachments; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/customer-attachments', customerAttachments.id, 'view']">{{ customerAttachments.id }}</a>
          </td>
          <td>
            <a
              *ngIf="customerAttachments.attachImage"
              (click)="openFile(customerAttachments.attachImage, customerAttachments.attachImageContentType)"
            >
              <img
                [src]="'data:' + customerAttachments.attachImageContentType + ';base64,' + customerAttachments.attachImage"
                style="max-height: 30px"
                alt="customerAttachments image"
              />
            </a>
            <span *ngIf="customerAttachments.attachImage"
              >{{ customerAttachments.attachImageContentType }}, {{ byteSize(customerAttachments.attachImage) }}</span
            >
          </td>
          <td>{{ customerAttachments.attachUrl }}</td>
          <td>{{ customerAttachments.attachDescription }}</td>
          <td>{{ customerAttachments.attachedDate | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="customerAttachments.customers">
              <a [routerLink]="['/customers', customerAttachments.customers?.id, 'view']">{{
                customerAttachments.customers?.customerName
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="customerAttachments.statusAttachments">
              <a [routerLink]="['/status-attachments', customerAttachments.statusAttachments?.id, 'view']">{{
                customerAttachments.statusAttachments?.statusName
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/customer-attachments', customerAttachments.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/customer-attachments', customerAttachments.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(customerAttachments)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="customerAttachments && customerAttachments.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
