<div>
  <h2 id="page-heading" data-cy="VehicleControlAttachmentsHeading">
    <span jhiTranslate="transporteApp.vehicleControlAttachments.home.title">Vehicle Control Attachments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="transporteApp.vehicleControlAttachments.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-vehicle-control-attachments"
        [routerLink]="['/vehicle-control-attachments/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="transporteApp.vehicleControlAttachments.home.createLabel"> Create a new Vehicle Control Attachments </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="vehicleControlAttachments?.length === 0">
    <span jhiTranslate="transporteApp.vehicleControlAttachments.home.notFound">No vehicleControlAttachments found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="vehicleControlAttachments && vehicleControlAttachments.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="attachImage">
            <span jhiTranslate="transporteApp.vehicleControlAttachments.attachImage">Attach Image</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="attachUrl">
            <span jhiTranslate="transporteApp.vehicleControlAttachments.attachUrl">Attach Url</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="attachDescription">
            <span jhiTranslate="transporteApp.vehicleControlAttachments.attachDescription">Attach Description</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="attachedDate">
            <span jhiTranslate="transporteApp.vehicleControlAttachments.attachedDate">Attached Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="vehicleControls.id">
            <span jhiTranslate="transporteApp.vehicleControlAttachments.vehicleControls">Vehicle Controls</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehicleControlAttachments of vehicleControlAttachments; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/vehicle-control-attachments', vehicleControlAttachments.id, 'view']">{{ vehicleControlAttachments.id }}</a>
          </td>
          <td>
            <a
              *ngIf="vehicleControlAttachments.attachImage"
              (click)="openFile(vehicleControlAttachments.attachImage, vehicleControlAttachments.attachImageContentType)"
            >
              <img
                [src]="'data:' + vehicleControlAttachments.attachImageContentType + ';base64,' + vehicleControlAttachments.attachImage"
                style="max-height: 30px"
                alt="vehicleControlAttachments image"
              />
            </a>
            <span *ngIf="vehicleControlAttachments.attachImage"
              >{{ vehicleControlAttachments.attachImageContentType }}, {{ byteSize(vehicleControlAttachments.attachImage) }}</span
            >
          </td>
          <td>{{ vehicleControlAttachments.attachUrl }}</td>
          <td>{{ vehicleControlAttachments.attachDescription }}</td>
          <td>{{ vehicleControlAttachments.attachedDate | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="vehicleControlAttachments.vehicleControls">
              <a [routerLink]="['/vehicle-controls', vehicleControlAttachments.vehicleControls?.id, 'view']">{{
                vehicleControlAttachments.vehicleControls?.id
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/vehicle-control-attachments', vehicleControlAttachments.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/vehicle-control-attachments', vehicleControlAttachments.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(vehicleControlAttachments)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="vehicleControlAttachments && vehicleControlAttachments.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
