<div>
  <h2 id="page-heading" data-cy="EmployeesHeading">
    <span jhiTranslate="transporteApp.employees.home.title">Employees</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="transporteApp.employees.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-employees"
        [routerLink]="['/employees/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="transporteApp.employees.home.createLabel"> Create a new Employees </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="employees?.length === 0">
    <span jhiTranslate="transporteApp.employees.home.notFound">No employees found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="employees && employees.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="active">
            <span jhiTranslate="transporteApp.employees.active">Active</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="employeeFullName">
            <span jhiTranslate="transporteApp.employees.employeeFullName">Employee Full Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="employeeEmail">
            <span jhiTranslate="transporteApp.employees.employeeEmail">Employee Email</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="employeeIdentificationNumber">
            <span jhiTranslate="transporteApp.employees.employeeIdentificationNumber">Employee Identification Number</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="employeeNumber">
            <span jhiTranslate="transporteApp.employees.employeeNumber">Employee Number</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="employeePostalCode">
            <span jhiTranslate="transporteApp.employees.employeePostalCode">Employee Postal Code</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="employeeAddress">
            <span jhiTranslate="transporteApp.employees.employeeAddress">Employee Address</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="employeeAddressComplement">
            <span jhiTranslate="transporteApp.employees.employeeAddressComplement">Employee Address Complement</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="employeeAddressNumber">
            <span jhiTranslate="transporteApp.employees.employeeAddressNumber">Employee Address Number</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="employeeAddressNeighborhood">
            <span jhiTranslate="transporteApp.employees.employeeAddressNeighborhood">Employee Address Neighborhood</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="employeeBirthday">
            <span jhiTranslate="transporteApp.employees.employeeBirthday">Employee Birthday</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="companies.companyName">
            <span jhiTranslate="transporteApp.employees.companies">Companies</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="affiliates.branchName">
            <span jhiTranslate="transporteApp.employees.affiliates">Affiliates</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="cities.cityName">
            <span jhiTranslate="transporteApp.employees.cities">Cities</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="positions.positionName">
            <span jhiTranslate="transporteApp.employees.positions">Positions</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employees of employees; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/employees', employees.id, 'view']">{{ employees.id }}</a>
          </td>
          <td>{{ employees.active }}</td>
          <td>{{ employees.employeeFullName }}</td>
          <td>{{ employees.employeeEmail }}</td>
          <td>{{ employees.employeeIdentificationNumber }}</td>
          <td>{{ employees.employeeNumber }}</td>
          <td>{{ employees.employeePostalCode }}</td>
          <td>{{ employees.employeeAddress }}</td>
          <td>{{ employees.employeeAddressComplement }}</td>
          <td>{{ employees.employeeAddressNumber }}</td>
          <td>{{ employees.employeeAddressNeighborhood }}</td>
          <td>{{ employees.employeeBirthday | formatMediumDate }}</td>
          <td>
            <div *ngIf="employees.companies">
              <a [routerLink]="['/companies', employees.companies?.id, 'view']">{{ employees.companies?.companyName }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="employees.affiliates">
              <a [routerLink]="['/affiliates', employees.affiliates?.id, 'view']">{{ employees.affiliates?.branchName }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="employees.cities">
              <a [routerLink]="['/cities', employees.cities?.id, 'view']">{{ employees.cities?.cityName }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="employees.positions">
              <a [routerLink]="['/positions', employees.positions?.id, 'view']">{{ employees.positions?.positionName }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/employees', employees.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/employees', employees.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(employees)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="employees && employees.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
