<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-employee-components-data-heading"
        data-cy="EmployeeComponentsDataCreateUpdateHeading"
        jhiTranslate="transporteApp.employeeComponentsData.home.createOrEditLabel"
      >
        Create or edit a Employee Components Data
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="transporteApp.employeeComponentsData.dataInfo"
            for="field_dataInfo"
            [ngbTooltip]="'transporteApp.employeeComponentsData.help.dataInfo' | translate"
            >Data Info</label
          >
          <input type="text" class="form-control" name="dataInfo" id="field_dataInfo" data-cy="dataInfo" formControlName="dataInfo" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="transporteApp.employeeComponentsData.employee" for="field_employee"
            >Employee</label
          >
          <select class="form-control" id="field_employee" data-cy="employee" name="employee" formControlName="employee">
            <option *ngIf="!editForm.get('employee')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="employeesOption.id === editForm.get('employee')!.value?.id ? editForm.get('employee')!.value : employeesOption"
              *ngFor="let employeesOption of employeesSharedCollection; trackBy: trackEmployeesById"
            >
              {{ employeesOption.employeeFullName }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['employee'])!.invalid && (editForm.get(['employee'])!.dirty || editForm.get(['employee'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['employee'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
