<div>
  <h2 id="page-heading" data-cy="ParkingSectorSpaceHeading">
    <span jhiTranslate="transporteApp.parkingSectorSpace.home.title">Parking Sector Spaces</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="transporteApp.parkingSectorSpace.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-parking-sector-space"
        [routerLink]="['/parking-sector-space/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="transporteApp.parkingSectorSpace.home.createLabel"> Create a new Parking Sector Space </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="parkingSectorSpaces?.length === 0">
    <span jhiTranslate="transporteApp.parkingSectorSpace.home.notFound">No parkingSectorSpaces found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="parkingSectorSpaces && parkingSectorSpaces.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="parkingNumber">
            <span jhiTranslate="transporteApp.parkingSectorSpace.parkingNumber">Parking Number</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="parkingStatus">
            <span jhiTranslate="transporteApp.parkingSectorSpace.parkingStatus">Parking Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="parkingEntryDate">
            <span jhiTranslate="transporteApp.parkingSectorSpace.parkingEntryDate">Parking Entry Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="parkingDepartureDate">
            <span jhiTranslate="transporteApp.parkingSectorSpace.parkingDepartureDate">Parking Departure Date</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="parkingHousingItemId">
            <span jhiTranslate="transporteApp.parkingSectorSpace.parkingHousingItemId">Parking Housing Item Id</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="parkingSector.sectorName">
            <span jhiTranslate="transporteApp.parkingSectorSpace.parkingSector">Parking Sector</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let parkingSectorSpace of parkingSectorSpaces; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/parking-sector-space', parkingSectorSpace.id, 'view']">{{ parkingSectorSpace.id }}</a>
          </td>
          <td>{{ parkingSectorSpace.parkingNumber }}</td>
          <td jhiTranslate="{{ 'transporteApp.ParkingSpaceStatus.' + parkingSectorSpace.parkingStatus }}">
            {{ parkingSectorSpace.parkingStatus }}
          </td>
          <td>{{ parkingSectorSpace.parkingEntryDate | formatMediumDate }}</td>
          <td>{{ parkingSectorSpace.parkingDepartureDate | formatMediumDate }}</td>
          <td>{{ parkingSectorSpace.parkingHousingItemId }}</td>
          <td>
            <div *ngIf="parkingSectorSpace.parkingSector">
              <a [routerLink]="['/parking-sector', parkingSectorSpace.parkingSector?.id, 'view']">{{
                parkingSectorSpace.parkingSector?.sectorName
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/parking-sector-space', parkingSectorSpace.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/parking-sector-space', parkingSectorSpace.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(parkingSectorSpace)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="parkingSectorSpaces && parkingSectorSpaces.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
