<div>
  <h2 id="page-heading" data-cy="ParkingSectorHeading">
    <span jhiTranslate="transporteApp.parkingSector.home.title">Parking Sectors</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="transporteApp.parkingSector.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-parking-sector"
        [routerLink]="['/parking-sector/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="transporteApp.parkingSector.home.createLabel"> Create a new Parking Sector </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="parkingSectors?.length === 0">
    <span jhiTranslate="transporteApp.parkingSector.home.notFound">No parkingSectors found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="parkingSectors && parkingSectors.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="active">
            <span jhiTranslate="transporteApp.parkingSector.active">Active</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sectorName">
            <span jhiTranslate="transporteApp.parkingSector.sectorName">Sector Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="parkingSpace">
            <span jhiTranslate="transporteApp.parkingSector.parkingSpace">Parking Space</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="parkingNumbersBegin">
            <span jhiTranslate="transporteApp.parkingSector.parkingNumbersBegin">Parking Numbers Begin</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="parkingNumbersFinal">
            <span jhiTranslate="transporteApp.parkingSector.parkingNumbersFinal">Parking Numbers Final</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="parking.parkingName">
            <span jhiTranslate="transporteApp.parkingSector.parking">Parking</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let parkingSector of parkingSectors; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/parking-sector', parkingSector.id, 'view']">{{ parkingSector.id }}</a>
          </td>
          <td>{{ parkingSector.active }}</td>
          <td>{{ parkingSector.sectorName }}</td>
          <td>{{ parkingSector.parkingSpace }}</td>
          <td>{{ parkingSector.parkingNumbersBegin }}</td>
          <td>{{ parkingSector.parkingNumbersFinal }}</td>
          <td>
            <div *ngIf="parkingSector.parking">
              <a [routerLink]="['/parking', parkingSector.parking?.id, 'view']">{{ parkingSector.parking?.parkingName }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/parking-sector', parkingSector.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/parking-sector', parkingSector.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(parkingSector)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="parkingSectors && parkingSectors.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
