<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-cities-heading" data-cy="CitiesCreateUpdateHeading" jhiTranslate="transporteApp.cities.home.createOrEditLabel">
        Create or edit a Cities
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="transporteApp.cities.cityName"
            for="field_cityName"
            [ngbTooltip]="'transporteApp.cities.help.cityName' | translate"
            >City Name</label
          >
          <input type="text" class="form-control" name="cityName" id="field_cityName" data-cy="cityName" formControlName="cityName" />
          <div *ngIf="editForm.get('cityName')!.invalid && (editForm.get('cityName')!.dirty || editForm.get('cityName')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('cityName')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="transporteApp.cities.latitude" for="field_latitude">Latitude</label>
          <input type="number" class="form-control" name="latitude" id="field_latitude" data-cy="latitude" formControlName="latitude" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="transporteApp.cities.longitude" for="field_longitude">Longitude</label>
          <input type="number" class="form-control" name="longitude" id="field_longitude" data-cy="longitude" formControlName="longitude" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="transporteApp.cities.stateProvinces" for="field_stateProvinces"
            >State Provinces</label
          >
          <select
            class="form-control"
            id="field_stateProvinces"
            data-cy="stateProvinces"
            name="stateProvinces"
            formControlName="stateProvinces"
          >
            <option *ngIf="!editForm.get('stateProvinces')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                stateProvincesOption.id === editForm.get('stateProvinces')!.value?.id
                  ? editForm.get('stateProvinces')!.value
                  : stateProvincesOption
              "
              *ngFor="let stateProvincesOption of stateProvincesSharedCollection; trackBy: trackStateProvincesById"
            >
              {{ stateProvincesOption.stateName }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['stateProvinces'])!.invalid &&
            (editForm.get(['stateProvinces'])!.dirty || editForm.get(['stateProvinces'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['stateProvinces'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
