<div>
  <h2 id="page-heading" data-cy="InsurancesHeading">
    <span jhiTranslate="transporteApp.insurances.home.title">Insurances</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="transporteApp.insurances.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-insurances"
        [routerLink]="['/insurances/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="transporteApp.insurances.home.createLabel"> Create a new Insurances </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="insurances?.length === 0">
    <span jhiTranslate="transporteApp.insurances.home.notFound">No insurances found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="insurances && insurances.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="insurancesPercent">
            <span jhiTranslate="transporteApp.insurances.insurancesPercent">Insurances Percent</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="affiliates.branchName">
            <span jhiTranslate="transporteApp.insurances.affiliates">Affiliates</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="toStateProvince.stateName">
            <span jhiTranslate="transporteApp.insurances.toStateProvince">To State Province</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="forStateProvince.stateName">
            <span jhiTranslate="transporteApp.insurances.forStateProvince">For State Province</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let insurances of insurances; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/insurances', insurances.id, 'view']">{{ insurances.id }}</a>
          </td>
          <td>{{ insurances.insurancesPercent }}</td>
          <td>
            <div *ngIf="insurances.affiliates">
              <a [routerLink]="['/affiliates', insurances.affiliates?.id, 'view']">{{ insurances.affiliates?.branchName }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="insurances.toStateProvince">
              <a [routerLink]="['/state-provinces', insurances.toStateProvince?.id, 'view']">{{ insurances.toStateProvince?.stateName }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="insurances.forStateProvince">
              <a [routerLink]="['/state-provinces', insurances.forStateProvince?.id, 'view']">{{
                insurances.forStateProvince?.stateName
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/insurances', insurances.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/insurances', insurances.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(insurances)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="insurances && insurances.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
