<div>
  <h2 id="page-heading" data-cy="VehicleInspectionsImagensHeading">
    <span jhiTranslate="transporteApp.vehicleInspectionsImagens.home.title">Vehicle Inspections Imagens</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="transporteApp.vehicleInspectionsImagens.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-vehicle-inspections-imagens"
        [routerLink]="['/vehicle-inspections-imagens/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="transporteApp.vehicleInspectionsImagens.home.createLabel"> Create a new Vehicle Inspections Imagens </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="vehicleInspectionsImagens?.length === 0">
    <span jhiTranslate="transporteApp.vehicleInspectionsImagens.home.notFound">No vehicleInspectionsImagens found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="vehicleInspectionsImagens && vehicleInspectionsImagens.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="vehicleInspectionsImagensPositions">
            <span jhiTranslate="transporteApp.vehicleInspectionsImagens.vehicleInspectionsImagensPositions"
              >Vehicle Inspections Imagens Positions</span
            >
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="vehicleInspectionsImagensStatus">
            <span jhiTranslate="transporteApp.vehicleInspectionsImagens.vehicleInspectionsImagensStatus"
              >Vehicle Inspections Imagens Status</span
            >
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="vehicleInspectionsImagensObs">
            <span jhiTranslate="transporteApp.vehicleInspectionsImagens.vehicleInspectionsImagensObs">Vehicle Inspections Imagens Obs</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="vehicleInspectionsImagensPhoto">
            <span jhiTranslate="transporteApp.vehicleInspectionsImagens.vehicleInspectionsImagensPhoto"
              >Vehicle Inspections Imagens Photo</span
            >
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="vehicleInspectionsImagensPositionsX">
            <span jhiTranslate="transporteApp.vehicleInspectionsImagens.vehicleInspectionsImagensPositionsX"
              >Vehicle Inspections Imagens Positions X</span
            >
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="vehicleInspectionsImagensPositionsY">
            <span jhiTranslate="transporteApp.vehicleInspectionsImagens.vehicleInspectionsImagensPositionsY"
              >Vehicle Inspections Imagens Positions Y</span
            >
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="vehicleInspections.id">
            <span jhiTranslate="transporteApp.vehicleInspectionsImagens.vehicleInspections">Vehicle Inspections</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehicleInspectionsImagens of vehicleInspectionsImagens; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/vehicle-inspections-imagens', vehicleInspectionsImagens.id, 'view']">{{ vehicleInspectionsImagens.id }}</a>
          </td>
          <td jhiTranslate="{{ 'transporteApp.InspectionPositions.' + vehicleInspectionsImagens.vehicleInspectionsImagensPositions }}">
            {{ vehicleInspectionsImagens.vehicleInspectionsImagensPositions }}
          </td>
          <td jhiTranslate="{{ 'transporteApp.VehicleStatus.' + vehicleInspectionsImagens.vehicleInspectionsImagensStatus }}">
            {{ vehicleInspectionsImagens.vehicleInspectionsImagensStatus }}
          </td>
          <td>{{ vehicleInspectionsImagens.vehicleInspectionsImagensObs }}</td>
          <td>
            <a
              *ngIf="vehicleInspectionsImagens.vehicleInspectionsImagensPhoto"
              (click)="
                openFile(
                  vehicleInspectionsImagens.vehicleInspectionsImagensPhoto,
                  vehicleInspectionsImagens.vehicleInspectionsImagensPhotoContentType
                )
              "
            >
              <img
                [src]="
                  'data:' +
                  vehicleInspectionsImagens.vehicleInspectionsImagensPhotoContentType +
                  ';base64,' +
                  vehicleInspectionsImagens.vehicleInspectionsImagensPhoto
                "
                style="max-height: 30px"
                alt="vehicleInspectionsImagens image"
              />
            </a>
            <span *ngIf="vehicleInspectionsImagens.vehicleInspectionsImagensPhoto"
              >{{ vehicleInspectionsImagens.vehicleInspectionsImagensPhotoContentType }},
              {{ byteSize(vehicleInspectionsImagens.vehicleInspectionsImagensPhoto) }}</span
            >
          </td>
          <td>{{ vehicleInspectionsImagens.vehicleInspectionsImagensPositionsX }}</td>
          <td>{{ vehicleInspectionsImagens.vehicleInspectionsImagensPositionsY }}</td>
          <td>
            <div *ngIf="vehicleInspectionsImagens.vehicleInspections">
              <a [routerLink]="['/vehicle-inspections', vehicleInspectionsImagens.vehicleInspections?.id, 'view']">{{
                vehicleInspectionsImagens.vehicleInspections?.id
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/vehicle-inspections-imagens', vehicleInspectionsImagens.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/vehicle-inspections-imagens', vehicleInspectionsImagens.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(vehicleInspectionsImagens)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="vehicleInspectionsImagens && vehicleInspectionsImagens.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
