<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-countries-heading" data-cy="CountriesCreateUpdateHeading" jhiTranslate="transporteApp.countries.home.createOrEditLabel">
        Create or edit a Countries
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="transporteApp.countries.countryName"
            for="field_countryName"
            [ngbTooltip]="'transporteApp.countries.help.countryName' | translate"
            >Country Name</label
          >
          <input
            type="text"
            class="form-control"
            name="countryName"
            id="field_countryName"
            data-cy="countryName"
            formControlName="countryName"
          />
          <div *ngIf="editForm.get('countryName')!.invalid && (editForm.get('countryName')!.dirty || editForm.get('countryName')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('countryName')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="transporteApp.countries.iso2"
            for="field_iso2"
            [ngbTooltip]="'transporteApp.countries.help.iso2' | translate"
            >Iso 2</label
          >
          <input type="text" class="form-control" name="iso2" id="field_iso2" data-cy="iso2" formControlName="iso2" />
          <div *ngIf="editForm.get('iso2')!.invalid && (editForm.get('iso2')!.dirty || editForm.get('iso2')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('iso2')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="transporteApp.countries.codeArea"
            for="field_codeArea"
            [ngbTooltip]="'transporteApp.countries.help.codeArea' | translate"
            >Code Area</label
          >
          <input type="number" class="form-control" name="codeArea" id="field_codeArea" data-cy="codeArea" formControlName="codeArea" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="transporteApp.countries.language"
            for="field_language"
            [ngbTooltip]="'transporteApp.countries.help.language' | translate"
            >Language</label
          >
          <input type="text" class="form-control" name="language" id="field_language" data-cy="language" formControlName="language" />
          <div *ngIf="editForm.get('language')!.invalid && (editForm.get('language')!.dirty || editForm.get('language')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('language')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 6 }"
            >
              This field cannot be longer than 6 characters.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
