<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-companies-x-users-heading"
        data-cy="CompaniesXUsersCreateUpdateHeading"
        jhiTranslate="transporteApp.companiesXUsers.home.createOrEditLabel"
      >
        Create or edit a Companies X Users
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="transporteApp.companiesXUsers.companies" for="field_companies">Companies</label>
          <select class="form-control" id="field_companies" data-cy="companies" name="companies" formControlName="companies">
            <option *ngIf="!editForm.get('companies')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="companiesOption.id === editForm.get('companies')!.value?.id ? editForm.get('companies')!.value : companiesOption"
              *ngFor="let companiesOption of companiesSharedCollection; trackBy: trackCompaniesById"
            >
              {{ companiesOption.companyName }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['companies'])!.invalid && (editForm.get(['companies'])!.dirty || editForm.get(['companies'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['companies'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="transporteApp.companiesXUsers.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user">
            <option *ngIf="!editForm.get('user')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.login }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['user'])!.invalid && (editForm.get(['user'])!.dirty || editForm.get(['user'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['user'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
