<div>
  <h2 id="page-heading" data-cy="VehicleControlExpensesHeading">
    <span jhiTranslate="transporteApp.vehicleControlExpenses.home.title">Vehicle Control Expenses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="transporteApp.vehicleControlExpenses.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-vehicle-control-expenses"
        [routerLink]="['/vehicle-control-expenses/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="transporteApp.vehicleControlExpenses.home.createLabel"> Create a new Vehicle Control Expenses </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="vehicleControlExpenses?.length === 0">
    <span jhiTranslate="transporteApp.vehicleControlExpenses.home.notFound">No vehicleControlExpenses found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="vehicleControlExpenses && vehicleControlExpenses.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="vehicleControlExpensesDescription">
            <span jhiTranslate="transporteApp.vehicleControlExpenses.vehicleControlExpensesDescription"
              >Vehicle Control Expenses Description</span
            >
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="vehicleControlExpensesDriverType">
            <span jhiTranslate="transporteApp.vehicleControlExpenses.vehicleControlExpensesDriverType"
              >Vehicle Control Expenses Driver Type</span
            >
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="vehicleControlExpensesPurchaseOrder">
            <span jhiTranslate="transporteApp.vehicleControlExpenses.vehicleControlExpensesPurchaseOrder"
              >Vehicle Control Expenses Purchase Order</span
            >
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="vehicleControlExpensesDueDate">
            <span jhiTranslate="transporteApp.vehicleControlExpenses.vehicleControlExpensesDueDate">Vehicle Control Expenses Due Date</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="vehicleControlExpensesPaymentDate">
            <span jhiTranslate="transporteApp.vehicleControlExpenses.vehicleControlExpensesPaymentDate"
              >Vehicle Control Expenses Payment Date</span
            >
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="vehicleControlExpensesBillingTotalValue">
            <span jhiTranslate="transporteApp.vehicleControlExpenses.vehicleControlExpensesBillingTotalValue"
              >Vehicle Control Expenses Billing Total Value</span
            >
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="vehicleControlExpensesDriverCommission">
            <span jhiTranslate="transporteApp.vehicleControlExpenses.vehicleControlExpensesDriverCommission"
              >Vehicle Control Expenses Driver Commission</span
            >
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="vehicleControls.id">
            <span jhiTranslate="transporteApp.vehicleControlExpenses.vehicleControls">Vehicle Controls</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="suppliers.supplierName">
            <span jhiTranslate="transporteApp.vehicleControlExpenses.suppliers">Suppliers</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="origin.cityName">
            <span jhiTranslate="transporteApp.vehicleControlExpenses.origin">Origin</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="destination.cityName">
            <span jhiTranslate="transporteApp.vehicleControlExpenses.destination">Destination</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="vehicleControlItem.vehicleControlItemPlate">
            <span jhiTranslate="transporteApp.vehicleControlExpenses.vehicleControlItem">Vehicle Control Item</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehicleControlExpenses of vehicleControlExpenses; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/vehicle-control-expenses', vehicleControlExpenses.id, 'view']">{{ vehicleControlExpenses.id }}</a>
          </td>
          <td>{{ vehicleControlExpenses.vehicleControlExpensesDescription }}</td>
          <td jhiTranslate="{{ 'transporteApp.DriverType.' + vehicleControlExpenses.vehicleControlExpensesDriverType }}">
            {{ vehicleControlExpenses.vehicleControlExpensesDriverType }}
          </td>
          <td>{{ vehicleControlExpenses.vehicleControlExpensesPurchaseOrder }}</td>
          <td>{{ vehicleControlExpenses.vehicleControlExpensesDueDate | formatMediumDate }}</td>
          <td>{{ vehicleControlExpenses.vehicleControlExpensesPaymentDate | formatMediumDate }}</td>
          <td>{{ vehicleControlExpenses.vehicleControlExpensesBillingTotalValue }}</td>
          <td>{{ vehicleControlExpenses.vehicleControlExpensesDriverCommission }}</td>
          <td>
            <div *ngIf="vehicleControlExpenses.vehicleControls">
              <a [routerLink]="['/vehicle-controls', vehicleControlExpenses.vehicleControls?.id, 'view']">{{
                vehicleControlExpenses.vehicleControls?.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="vehicleControlExpenses.suppliers">
              <a [routerLink]="['/suppliers', vehicleControlExpenses.suppliers?.id, 'view']">{{
                vehicleControlExpenses.suppliers?.supplierName
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="vehicleControlExpenses.origin">
              <a [routerLink]="['/cities', vehicleControlExpenses.origin?.id, 'view']">{{ vehicleControlExpenses.origin?.cityName }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="vehicleControlExpenses.destination">
              <a [routerLink]="['/cities', vehicleControlExpenses.destination?.id, 'view']">{{
                vehicleControlExpenses.destination?.cityName
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="vehicleControlExpenses.vehicleControlItem">
              <a [routerLink]="['/vehicle-control-item', vehicleControlExpenses.vehicleControlItem?.id, 'view']">{{
                vehicleControlExpenses.vehicleControlItem?.vehicleControlItemPlate
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/vehicle-control-expenses', vehicleControlExpenses.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/vehicle-control-expenses', vehicleControlExpenses.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(vehicleControlExpenses)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="vehicleControlExpenses && vehicleControlExpenses.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
